/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.cart-contain{
  background-color: rgb(235, 243, 245);
  height:auto;
  width: 20vw;
  position:fixed;
  right: 6%;
  box-shadow: 5px 0 120px rgba(33,33,33,.2);
}
@media (max-width:801px)  { 
  .cart-contain{
    display: none;
  }
}
tr{
  transition: 2s;
}
.card:hover{
 box-shadow: 5px 0 120px rgba(33,33,33,.2);
}
.myform{
  width: 500px;
}
.select{
  border-color: rgb(199, 198, 198);
}
.hover-1 {
    --h: 1.2em;   /* the height */
    
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) #000, 
      0 calc(var(--h) - var(--_t,-1em)) #1095c1;
    overflow: hidden;
    transition: .3s;
  }
  .hover-1:hover {
    --_t: var(--h);
  }