%nav.navbar.navbar-expand-lg.bg-light.sticky-top
  .container-fluid
    %a.navbar-brand.fs-2.hover-1{:href => "#"} Ethnic-Store
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.hover-1
          = link_to  "Home" ,root_path, class:"nav-link active"
        %li.nav-item.hover-1
          = link_to  "Cart" ,"#", class:"nav-link "
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            User Name
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{:href => "#"} User Profile
            %li
              %a.dropdown-item{:href => "#"} Log out
      %form.d-flex{:role => "search"}
        %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success{:type => "submit"} Search